.App {
    width: "500px";
    margin: "auto";
    text-align: "center"
}

.main-div {
    font-size: 40px;
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 32%;
}

.main-link {
    display: block;
    height: 55px;
    margin: 5px auto;
    background-color: rgb(7, 104, 143);
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    border-radius: 20px;
    width: 85%;
}

.all-form-main {
    border: "1px solid";
    margin: "10px"
}

.form-container {
    padding-bottom: "20px"
}

.form-heading {
    display: "inline";
    margin-right: "8px"
}

.view-form-link {
    color: "blue";
    cursor: "pointer"
}

.form-field {
    margin: "20px";
    padding: "10px"
}

.submit-btn {
    width: "100px";
    margin: "auto";
    padding: "0 0 25px 0"
}